/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, section, article,
h1, h2, p, strong, em, a, ul {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
}

body {
  margin-top: 80px;
}

html {
  cursor: default;
  font-family: 'Quicksand', sans-serif;
}

.bar {
  top: 0%;
  margin: 0;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background: hsla(202, 25%, 68%, 0.63);
  padding: 10px;
  z-index: 50;
}

.navbar_buttons {
	background-color:rgba(18, 110, 208, 0.4);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor: default;
	color:#f2f2f2;
	font-size:12px;
	font-weight: 500;
	padding:3px 18px;
	text-decoration:none;
  font-family: 'Quicksand', sans-serif;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.navbar_buttons:hover {
	background-color:#288c8f;
  cursor: pointer;
}
.navbar_buttons:active {
	position:relative;
	top:1px;
}

.icon {
  float:left;
  margin-left: 20px;
}

.con_name {
  float:left;
  margin-left: 20px;
  font-size: 18px;
}

.con_site {
  float:left;
  margin-left: 20px;
  font-size: 18px;
}

.logout {
  float: right;
  margin-right: 30px;
}

.navbar-ul {
  margin: 0;
}

ul {
  list-style-type: none;
  width: 100%;
}

.search_form {
  position: relative;
  margin: auto;
  width: 170px;
  top: 150px;
  font-size: 12px;
}

.Search_form_header {
  margin: 0px 0px 20px 0px;
  font-size: 18px;
}

.Search_form_input {
  margin: 0px 0px 15px 5px;
  border-style: solid;
  border-radius: 4px;
  border-color: grey;
}

.start_label {
  position: relative;
  font-size: 14px;
  margin: 0px 0px 3px 41px;
}

.end_label {
  position: relative;
  font-size: 14px;
  margin: 0px 0px 3px 45px;
}

.start_date {
  position: relative;
  margin: 0px 10px 10px 10px;
  border-style: solid;
  border-radius: 4px;
  border-color: grey;
  border-width: 1px;
}

.end_date {
  position: relative;
  margin: 0px 10px 10px 10px;
  border-style: solid;
  border-radius: 4px;
  border-color: grey;
  border-width: 1px;
}

.Search_form_submit {
  position: relative;
  margin: 8px 0px 0px 25px;
  background-color: white;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#0a090a;
	font-size:10px;
	padding:4px 23px;
	text-decoration:none;
  font-family: 'Quicksand', sans-serif;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.Search_form_submit:hover {
  background-color: rgba(191, 187, 187, 0.58);
  cursor: pointer;
}

.search_results_index {
  position: relative;
  width: 600px;
  margin: auto;
}

.search_results_item {
  width: 600px;
  margin: auto;
  text-align: center;
  position: relative;
}

.create_album_button {
  position: fixed;
  right: 5%;
  background-color: white;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#0a090a;
	font-size:16px;
  font-weight: 500px;
	padding: 20px;
	text-decoration:none;
  font-family: 'Quicksand', sans-serif;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.create_album_button:hover {
  background-color: rgba(191, 187, 187, 0.58);
  cursor: pointer;
}

.load_more_button {
  position: absolute;
  right: 42%;
  margin: 40px;
  background-color: white;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#0a090a;
	font-size:16px;
  font-weight: 500px;
	padding: 20px;
	text-decoration:none;
  font-family: 'Quicksand', sans-serif;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.load_more_button:hover {
  background-color: rgba(191, 187, 187, 0.58);
  cursor: pointer;
}

.album_index_ul {
  position: relative;
  width: 800px;
  margin: auto;
}

.album_index_item {
  float: left;
  padding: 10px;
  margin: 20px;
  border: 1px solid grey;
  border-radius: 4px;
  width: 203px;
  background-color: white;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.album_index_item:hover {
  background-color: rgba(191, 187, 187, 0.58);
  cursor: pointer;
}

.album_index_header {
  font-size: 24px;
  position: relative;
  right: -43%;
  margin: 20px;
}

.index_header_container {
  position: relative;
  margin: auto;
  width: 210px;
}

.photo_index_header {
  font-size: 24px;
  position: relative;
  margin: auto;
  text-align: center;
}

.photo_index_range {
  font-size: 18px;
  position: relative;
  margin: auto;
  text-align: center;
}

.photo_index_ul {
  position: relative;
  width: 1147px;
  margin: auto;
}

.photo_index_item {
  float: left;
  padding: 10px;
  margin: 20px;
  border: 1px solid;
  border-radius: 4px;
  border-color: white;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.photo_index_item:hover {
  border-color: rgba(191, 187, 187, 0.58);
  cursor: pointer;
}

.clearfix:after {
  content: ""; /* Empty content string */
  display: block; /* Only block elements can clear */
  clear: both;
}
